@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    padding: 60px 0px;
    width: 100vw;
    min-height: 100vh;
    height: auto;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

header {
    padding: 0px 100px;
    margin-bottom: 70px;
}

header nav {
    gap: 40px;
}

header nav a, header nav .requestButton{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    transition: all 0.5s;
}

header nav a:hover {
    transform: scale(1.1);
}

header nav .requestButton {
    padding: 20px 35px;
    border-radius: 14px;
    border: 1px #000 solid;
}

header nav .requestButton:hover {
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

main .firstBlock {
    gap: 70px;
}

main .firstBlock .content {
    padding: 0px 100px;
}

main .firstBlock .content .textBox {
    align-items: start;
    width: 35%;
    gap: 35px;
}

main .firstBlock .content .textBox .titleText {
    font-size: 60px;
    font-weight: 500;
}

main .firstBlock .content .textBox .descriptionText {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

main .firstBlock .content .textBox .consultationButton {
    padding: 20px 35px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400px;
    background-color: #000;
    color: #fff;
    border-radius: 14px;
    transition: all 0.5s;
}

main .firstBlock .content .textBox .consultationButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

main .firstBlock .partnersBox {
    padding: 0px 100px;
    gap: 96px;
    filter: grayscale(100%);
}