@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}

body {
    padding: 60px 0px 0px 0px;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: transparent;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #000;    /* цвет плашки */
  border-radius: 20px;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

button, input {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

input {
    cursor: auto;
}

header {
    padding: 0px 100px;
    margin-bottom: 70px;
}

header nav {
    gap: 40px;
}

header nav a, header nav .requestButton{
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #000;
    transition: all 0.5s;
}

header nav a:hover {
    transform: scale(1.1);
}

header nav .requestButton {
    padding: 20px 35px;
    border-radius: 14px;
    border: 1px #000 solid;
}

header nav .requestButton:hover {
    background-color: #000;
    color: #fff;
    font-weight: 500;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 140px;
}

main .firstBlock {
    gap: 70px;
}

main .firstBlock .content {
    padding: 0px 100px;
}

main .firstBlock .content .textBox {
    align-items: start;
    width: 35%;
    gap: 35px;
}

main .firstBlock .content .textBox .titleText {
    font-size: 60px;
    font-weight: 500;
}

main .firstBlock .content .textBox .descriptionText {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

main .firstBlock .content .textBox .consultationButton {
    padding: 20px 35px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400px;
    background-color: #000;
    color: #fff;
    border-radius: 14px;
    transition: all 0.5s;
}

main .firstBlock .content .textBox .consultationButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

main .firstBlock .partnersBox {
    padding: 0px 100px;
    gap: 96px;
    filter: grayscale(100%);
}

main .firstBlock .partnersBox a {
    transition: all 0.5s;
}

main .firstBlock .partnersBox a:hover {
    transform: scale(1.2);
}

.servicesBlock, .caseBlock, .teamBlock, .contactUsBlock {
    width: 100%;
    padding: 0px 100px;
    gap: 80px;
}

.headBox {
    width: 100%;
    gap: 40px;
    align-items: center;
}

.headBox .colorText {
    font-weight: 500;
    font-size: 40px;
    color: #000;
    background-color: #B9FF66;
    padding: 0px 6px;
}

.headBox .descriptionText {
    width: 34%;
    font-weight: 400;
    font-size: 18px;
}

.servicesBlock .cardBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 карточки в строку */
    gap: 40px;
    margin-bottom: 20px;
}

.servicesBlock .cardBox .card {
    padding: 50px;
    background-color: #F3F3F3;
    border-radius: 45px;
    border: 1px #000 solid;
    gap: 69px;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.servicesBlock .cardBox .card.color {
    background-color: #B9FF66;
}

.servicesBlock .cardBox .card.color .textBox .tittleText {
    background-color: #fff;
}


.servicesBlock .cardBox .card.dark {
    background-color: #191A23;
}

.servicesBlock .cardBox .card.dark .textBox .tittleText {
    background-color: #fff;
}

.servicesBlock .cardBox .card .textBox {
    align-items: start;
    width: 40%;
}

.servicesBlock .cardBox .card .textBox .tittleText {
    padding: 0px 6px;
    background-color: #B9FF66 ;
    font-weight: 500;
    font-size: 30px;
    color: #000;
}

.servicesBlock .cardBox .card .textBox .learnMoreButton {
    font-size: 20px;
    line-height: 28px;
    color: #000;
    font-weight: 400;
    gap: 16px;
    transition: all 0.5s;
}

.cardBox .card.dark .textBox .learnMoreButton{
    color: #fff;
}

.servicesBlock .cardBox .card .textBox .learnMoreButton img {
    transition: all 0.5s;
}

.servicesBlock .cardBox .card .textBox .learnMoreButton:hover {
    transform: scale(1.1);
}

.servicesBlock .cardBox .card .textBox .learnMoreButton:hover img {
    transform: rotate(30deg);
}

.makeHappenBox {
    padding: 24px 0px;
}

.makeHappenBox .contentBox {
    position: relative;
    border-radius: 45px;
    padding: 60px;
    width: 100%;
    background-color: #F3F3F3;
}

.makeHappenBox .contentBox .textBox {
    align-items: start;
    gap: 26px;
}

.makeHappenBox .contentBox .textBox .tittleText {
    font-weight: 500;
    font-size: 30px;
    color: #000;
}

.makeHappenBox .contentBox .textBox .descriptionText {
    font-size: 18px;
    font-weight: 400;
    width: 50%;
}

.makeHappenBox .contentBox .textBox .getProposalButton {
    padding: 20px 35px;
    border-radius: 14px;
    background-color: #191A23;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    transition: all 0.5s;
}

.makeHappenBox .contentBox .textBox .getProposalButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.makeHappenBox .contentBox img {
    position: absolute;
    top: -20px;
    right: 135px;
}

.caseBlock .content {
    align-items: center;
    border-radius: 45px;
    padding: 70px 60px;
    gap: 64px;
    background-color: #191A23;
}

.caseBlock .content .textInfo {
    align-items: start;
    gap: 20px;
}

.caseBlock .content .textInfo .learnMoreButton {
    display: flex;
    align-items: center;
    color: #B9FF66;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.caseBlock .content .textInfo p {
    font-size: 18px;
    color: #fff;
}

.caseBlock .content .plug {
    align-self: stretch;
    width: 1px;
    background-color: #fff;
}

.teamBlock .cardBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 карточки в строку */
    gap: 40px;
    margin-bottom: 20px;
}

.teamBlock .cardBox .card {
    gap: 28px;
    padding: 40px 35px;
    background-color: #fff;
    border: 1px #191A23 solid;
    border-radius: 45px;
    -webkit-box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
    -moz-box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
    box-shadow: 0px 5px 0px 0px rgba(25, 26, 35, 1);
}

.teamBlock .cardBox .card .cardHeader {
    align-items: end;
    gap: 20px;
    position: relative;
}

.teamBlock .cardBox .card .cardHeader .linkedInLink {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.5s;
}

.teamBlock .cardBox .card .cardHeader .linkedInLink:hover {
    transform: scale(1.1);
}

.teamBlock .cardBox .card .cardHeader .textBox .fullname {
    color: #000;
    font-weight: 500;
    font-size: 20px;
}

.teamBlock .cardBox .card .cardHeader .textBox .post,
.teamBlock .cardBox .card .descriptionText{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.teamBlock .cardBox .card .plug {
    width: 100%;
    height: 1px;
    background-color: #191A23;
}

.contactUsBlock .content {
    position: relative;
    padding: 60px 0px 80px 100px;
    background-color: #F3F3F3;
    border-radius: 45px;
}

.contactUsBlock .content img {
    position: relative;
    right: -19%;
}

.contactUsBlock .content form {
    width: 40%;
    gap: 40px;
}

.contactUsBlock .content form .formContent {
    width: 100%;
    gap: 25px;
}

.contactUsBlock .content form .checkboxBlock {
    width: 100%;
    gap: 35px;
}

.checkbox-item {
    align-items: center;
    gap: 14px;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.radio-input {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
}

.radio-input:checked {
    background-color: #fff;
    border-color: #000;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23b9ff66'/%3e%3c/svg%3e");
}

.radio-input:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.radio-input:disabled ~ .radio-label {
    opacity: 0.5;
    cursor: not-allowed;
}

.contactUsBlock .content form .formContent .nameBox,
.contactUsBlock .content form .formContent .emailBox,
.contactUsBlock .content form .formContent .messageBox {
    gap: 5px;
    width: 100%;
}

.contactUsBlock .content form .formContent .nameBox label,
.contactUsBlock .content form .formContent .emailBox label,
.contactUsBlock .content form .formContent .messageBox label {
    font-size: 16px;
    line-height: 28px;
    width: 100%;
}

.contactUsBlock .content form .formContent .nameBox input,
.contactUsBlock .content form .formContent .emailBox input,
.contactUsBlock .content form .formContent .messageBox textarea {
    padding: 18px 30px;
    font-size: 16px;
    border-radius: 14px;
    border: 1px #000 solid;
    background-color: #fff;
    width: 100%;
}

.contactUsBlock .content form .sendMessageButton {
    padding: 20px 35px;
    color: #fff;
    background-color: #000;
    font-size: 20px;
    line-height: 28px;
    border-radius: 14px;
    transition: all 0.5s;
    width: 100%;
}

.contactUsBlock .content form .sendMessageButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    margin-top: 140px;
    width: 100vw;
    min-height: 200px;
    padding: 0px 100px;
}

footer .content {
    padding: 50px 60px;
    gap: 50px;
    width: 100%;
    height: 100%;
    background-color: #191A23;
    border-radius: 45px 45px 0px 0px;
}

footer .content .mainInfoBox {
    gap: 67px;
}

footer .content .mainInfoBox .footerHeader {
    align-items: center;
}

footer .content .mainInfoBox .footerHeader .logo img {
    filter: invert(1);
}

footer .content .mainInfoBox .footerHeader nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

footer .content .mainInfoBox .footerHeader nav a {
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s;
}

footer .content .mainInfoBox .footerHeader .socialLinks a {
    transition: all 0.5s;
}

footer .content .mainInfoBox .footerHeader nav a:hover,
footer .content .mainInfoBox .footerHeader .socialLinks a:hover {
    transform: scale(1.1);
}

footer .content .mainInfoBox .footerHeader .socialLinks {
    gap: 20px;
}

footer .content .mainInfoBox .footerInfo .contactUsBox {
    gap: 27px;
}

footer .content .mainInfoBox .footerInfo .contactUsBox .titleText {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    background-color: #B9FF66;
    padding: 0px 6px;
    border-radius: 8px;
    width: fit-content;
}

footer .content .mainInfoBox .footerInfo .contactUsBox .contactsList {
    gap: 20px;
}

footer .content .mainInfoBox .footerInfo .contactUsBox .contactsList p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

footer .content .mainInfoBox .footerInfo .subscribeNotificationForm {
    display: flex;
    padding: 58px 40px;
    border-radius: 14px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #292A32;
}

footer .content .mainInfoBox .footerInfo .subscribeNotificationForm input {
    border: 1px #fff solid;
    border-radius: 14px;
    padding: 22px 35px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
}

footer .content .mainInfoBox .footerInfo .subscribeNotificationForm input::placeholder {
    color: #fff;
}

footer .content .mainInfoBox .footerInfo .subscribeNotificationForm button {
    background-color: #B9FF66;
    color: #000;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding: 20px 35px;
    border-radius: 14px;
    transition: all 0.5s;
}

footer .content .mainInfoBox .footerInfo .subscribeNotificationForm button:hover {
    font-weight: 500;
    background-color: rgba(185, 255, 102, 0.7);
}

footer .content .plug{
    align-self: stretch;
    height: 1px;
    background-color: #fff;
}

footer .content .bottomBox {
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

footer .content .bottomBox a {
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s;
}

footer .content .bottomBox a:hover {
    transform: scale(1.1);
}

